

.faq-holder {
  margin: 120px 0 80px;

  h1 {
    color: $red;
    font-weight: $black;
    letter-spacing: 9px;
    line-height: 1;
    display: block;
    width: 90%;
    padding: 0px 0px 19px 0px;
    margin: 0;
    border-right: 2px solid $red;
  }

  p {
    color: $color-font-light;
  }

  .title-row {
    margin-bottom: 30px;
  }

  .accordion {
    padding: 35px;

    .accordion-item {
      .accordion-content {
        margin: 28px 0;
      }
    }
  }

  .faq-box {
    display: none;

    &.active {
      display: block;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .faq-holder {
    .col-text {
      padding: 0 15px !important;
    }
  }
}
