
$font: 'Lato', sans-serif;
$font-default: 16px;
$font-12: 0.750em;
$font-13: 0.813em;
$font-14: 0.875em;
$font-15: 0.938em;
$font-18: 1.125em;
$font-20: 1.250em;
$font-22: 1.375em;
$font-38: 2.375em;
$font-42: 2.625em;

$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

$red: #ed2228;
$dark-red: #cd2a2f;
$color-font: #303030;
$color-font-light: #959595;
$gray-39: #393939;
