<section class="content bilheteria-holder">
  <div class="container">
    <div class="row title-row">
      <div class="col-sm-6 col-md-5 col-lg-4 col-xs-12">
        <h1>BILHETERIA</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-12 infos-col">
        <h4>Teatro Santander</h4>
        <p>
          <span>Bilheteria Teatro Santander Complexo WT JK</span> <br>
          Av. Presidente Juscelino Kubitschek, 2041 <br>
          Itaim Bibi, São Paulo - SP <br>
          CEP: 04543-011
        </p>

        <p>
          <span>Horário de Funcionamento</span> <br>
          Domingo a Quinta: 12h às 20h ou até inicio do espetáculo. <br>
          Sexta e Sábado: 12h às 22h
        </p>

        <p>
            <h4>ATENÇÃO AOS HORÁRIOS DA BILHETERIA DO TEATRO SANTANDER DURANTE A COPA DA RÚSSIA.</h4> <br />
            Nos jogos do Brasil a nossa bilheteria interromperá a operação 15 minutos antes das partidas e retornará 15 minutos depois do encerramento dos jogos.
            Os horários de abertura e fechamento não sofrerão alteração.
        </p>

        <p>
          <span>Formas de pagamento</span> <br>
          São aceitas todas as bandeiras de cartões: Amex, Aura, Dinners, Hipercard, Mastercard, Redeshop, Visa e Visa Electron.<br>
          Outras formas: Dinheiro, PayPal, Ticket Cultura e Vale Cultura Alelo.<br>
          Não aceitamos cheques.<br>
        </p>

        <p>
          <a href="https://compre.ingressorapido.com.br/venues/bileto-126" target="_blank" class="online">Ingresso Rápido</a><br>
          Atendimento Vendas: 4003-1212
        </p>


      </div>
      <div class="col-sm-5 col-xs-12 politicas-col">
        <h3>Políticas de descontos</h3>
        <div class="accordion politicas-accordion">
          <div class="accordion-item accordion-item-percent">
            <div class="accordion-title red-title">50% de Desconto | Meia-Entrada</div>
            <div class="accordion-content fadeIn">
              <p>De acordo com a Lei Federal 12.852 (Estatuto da Juventude) e 12.933 de 2013 têm direito a compra de até 40% do total de ingressos disponíveis para cada evento os seguintes beneficiários: </p>
              <h4>Atenção</h4>
              <p>Para Pontos de Venda e Bilheterias é necessária a comprovação do direito ao benefício da 1/2 entrada no ato da compra e no acesso ao evento. Para vendas pela Internet e Telefone é necessária a comprovação do direito ao benefício da 1/2 entrada no acesso ao evento. Caso o benefício não seja comprovado, o portador deverá complementar o valor do ingresso adquirido para o valor do ingresso integral, caso contrário o acesso ao evento não será permitido. </p>

              <div class="sub-accordion 50-accordion">
                <div class="sub-accordion-item accordion-item-50">
                  <div class="sub-accordion-title gray-title">Estudantes</div>
                  <div class="sub-accordion-content fadeIn">
                    <p>Lei Federal 12.933/13, Decreto Federal 8.537/15 e Medida Cautelar Provisória concedida pelo STF em 29/12/2015 -  Carteira de Identificação Estudantil (CIE), emitida pela ANPG, UNE, Ubes, entidades estaduais e municipais, Diretórios Centrais dos Estudantes, Centros e Diretórios  Acadêmicos, conforme modelo único nacionalmente padronizado. Os elementos indispensáveis da CIE são: I ­ nome completo e data de nascimento do estudante; II ­ foto recente do estudante; III ­ nome da instituição de ensino na qual o estudante esteja matriculado; IV ­ grau de escolaridade; e V ­ data de validade até o dia 31 de março do ano subsequente ao de sua expedição. </p>
                  </div>
                </div>

                <div class="sub-accordion-item accordion-item-50">
                  <div class="sub-accordion-title gray-title">IDOSOS <span>(pessoas com mais de 60 anos)</span></div>
                  <div class="sub-accordion-content fadeIn">
                    <p>Lei Federal 10.741/03 e Decreto Federal 8.537/15 - Documento de identidade oficial com foto.</p>
                  </div>
                </div>

                <div class="sub-accordion-item accordion-item-50">
                  <div class="sub-accordion-title gray-title">JOVENS PERTENCENTES A FAMÍLIAS DE BAIXA RENDA, com idades de 15 a 29 anos</div>
                  <div class="sub-accordion-content fadeIn">
                    <p>Lei Federal 12.933/13 e Decreto Federal 8.537/15 ­- Carteira de Identidade Jovem que será emitida pela Secretaria Nacional de Juventude a partir de 31 de março de 2016, acompanhada de documento de identidade oficial com foto.</p>
                  </div>
                </div>

                <div class="sub-accordion-item accordion-item-50">
                  <div class="sub-accordion-title gray-title">PESSOAS COM DEFICIÊNCIA e acompanhante quando necessário</div>
                  <div class="sub-accordion-content fadeIn">
                    <p>Lei Federal 12.933/13 e Decreto Federal 8.537/15 -­ Cartão de Benefício de Prestação Continuada da Assistência Social da Pessoa com Deficiência ou de documento emitido pelo Instituto Nacional do Seguro Social ­ INSS que ateste a aposentadoria de acordo com os critérios estabelecidos na Lei Complementar nº 142, de 8 de maio de 2013. No momento de apresentação, esses documentos deverão estar acompanhados de documento de identidade oficial com foto.</p>
                  </div>
                </div>

                <div class="sub-accordion-item accordion-item-50">
                  <div class="sub-accordion-title gray-title">DIRETORES, COORDENADORES PEDAGÓGICOS, SUPERVISORES E TITULARES de cargos do quadro de apoio das escolas das redes estadual e municipais</div>
                  <div class="sub-accordion-content fadeIn">
                    <p>Lei Estadual n° 15.298/14 ­- Carteira funcional emitida pela Secretaria de Educação de São Paulo ou holerite acompanhado de documento oficial com foto. </p>
                  </div>
                </div>

                <div class="sub-accordion-item accordion-item-50">
                  <div class="sub-accordion-title gray-title">PROFESSORES da rede pública estadual e das redes municipais de ensino</div>
                  <div class="sub-accordion-content fadeIn">
                    <p>Lei Estadual n° 14.729/12 ­- Carteira funcional emitida pela Secretaria da Educação de São Paulo ou holerite acompanhado de documento oficial com foto.</p>
                  </div>
                </div>

                <!-- <div class="sub-accordion-item accordion-item-50">
                  <div class="sub-accordion-title gray-title">Atenção</div>
                  <div class="sub-accordion-content fadeIn">
                    <p>Para Pontos de Venda e Bilheterias é necessária a comprovação do direito ao benefício da 1/2 entrada no ato da compra e no acesso ao evento. Para vendas pela Internet e Telefone é necessária a comprovação do direito ao benefício da 1/2 entrada no acesso ao evento. Caso o benefício não seja comprovado, o portador deverá complementar o valor do ingresso adquirido para o valor do ingresso integral, caso contrário o acesso ao evento não será permitido. </p>
                  </div>
                </div> -->
              </div>

            </div>
          </div>
          <div class="accordion-item accordion-item-percent">
            <div class="accordion-title red-title">30% de Desconto</div>
            <div class="accordion-content fadeIn">
              <p>Na compra de ingressos realizada por clientes Santander limitado a 20% da lotação do teatro. Não cumulativo com meia­-entrada. Limitados a 02 (dois) ingressos por CPF. Esta compra deverá ser realizada com cartões de crédito e débito do Banco Santander e poderá ser realizada em todos os canais de venda do teatro (bilheteria, site, etc.).</p>
              <p><strong>ATENÇÃO: </strong>O benefício de desconto exclusivo para cliente Santander é possível devido ao subsídio do contrato de Naming Rights firmado entre o Banco e o Teatro Santander pago com recursos próprios e válido até 2024.</p>
              <p>De acordo com o art. 44, inciso I e IV, da Instrução Normativa nº 5, de 26/12/2017 e com base na Lei Federal nº 8.313 (Lei Rouanet) e Decreto nº 5.761, não configuram vantagem indevida ações adicionais realizadas pelo patrocinador, pelos proponentes ou pelos captadores de recursos destinadas à prospecção comercial, programas de relacionamento, ampliação da divulgação ou promoção do patrocinador e de suas marcas e produtos, desde que com a comprovada anuência do proponente e custeadas com recursos não-incentivados, nem tampouco a comercialização de produtos e subprodutos do projeto cultural em condições promocionais no local do evento.</p>
            </div>
          </div>
          <div class="accordion-item accordion-item-percent">
            <div class="accordion-title red-title">10% de Desconto</div>
            <div class="accordion-content fadeIn">
              <p>Na compra de ingressos realizada por clientes Zurich Santander, limitado a 100 ingressos por sessão. O desconto não é válido  para todos os eventos. Consulte individualmente na programação do espetáculo. </p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-5 col-xs-12 politicas-col">
        <h3 class="margin-top-big">Estacionamento</h3>
        <div class="accordion politicas-accordion">
          <div class="accordion-item accordion-item-percent">
            <div class="accordion-title red-title">Teatro</div>
            <div class="accordion-content fadeIn">
              <p>Eventos Corporativos<br>
              R$ 40,00 (Eventos Corporativos até 6 horas)<br>
              R$ 45,00 (Eventos Corporativos até 12 horas)<br><br>
              Shows e Musicais - R$ 35,00<br><br>
              Estacionamento acessível apenas para carro.</p>
            </div>
          </div>
          <div class="accordion-item accordion-item-percent">
            <div class="accordion-title red-title">Shopping</div>
            <div class="accordion-content fadeIn">
              <h4>VALET</h4>
              <p>Até uma hora: R$ 25,00. Horas adicionais: R$ 10,00 cada.</p>
              <h4>Selfpark</h4>
              <p>HORÁRIO DE ATENDIMENTO<br>
              Segunda a Sábado - das 10h às 23h<br>
              Domingo - das 11h às 23h<br>
              Feriados - 11h às 23h<br><br>
              <strong> Preço</strong><br>
              <strong>Carros e motos:</strong><br>
              Até 02 horas - R$ 17,00<br>
              Até 03 horas - R$ 19,00<br>
              Até 04 horas - R$ 21,00<br>
              Até 05 horas - R$ 25,00<br>
              Até 06 horas - R$ 33,00<br>
              Até 07 horas - R$ 40,00<br>
              Até 08 horas - R$ 45,00<br>
              Acima de 09 horas - R$ 50,00
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
