<!-- <h1>Errors#not_found</h1>
<p>Find me in app/views/errors/not_found.html.erb</p> -->


<section class="not-found-holder">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <h1>404</h1>
        <p class="frase-ops">Página não encontrada.</p>
        <p class="frase-second">Verifique se o link que você procura está correto.</p>
      </div>
    </div>
  </div>
</section>
